<h1 class="mb-3">システムの概要</h1>
<div class="card mb-5">
	<div class="card-body">
	<p>このシステムでは学生と教員が以下のことを行えます。</p>
	<ul class="mb-5">
		<li>各学生は研究室の教員を希望順に登録する</li>
		<li>各教員は研究室に欲しい学生を希望順に登録する</li>
	</ul>
	<p>管理者は各学生と各教員の希望を知ることができます。<br>
	※管理者はユーザー、学生情報、教員情報の登録、編集、削除ができます。</p>
</div>
</div>


<h3 class="mb-4">管理者権限を持つ方は以下の機能を使えます</h3>
<table class="table table-bordered mb-5">
  <tr><th>機能名</th><th>説明</th></tr>
  <tr><td>ユーザー一覧</td><td>ユーザーの登録、編集、削除ができます。</td></tr>
  <tr><td>学生一覧(編集)</td><td>学生情報の登録、編集、削除ができます。</td></tr>
  <tr><td>教員一覧(編集)</td><td>教員情報の登録、編集、削除ができます.</td></tr>
</table>

<h3 class="mb-4">学生は以下の機能を使えます</h3>
<table class="table table-bordered mb-5">
  <tr><th>機能名</th><th>説明</th></tr>
  <tr><td>教員一覧</td><td>教員の登録ができます</td></tr>
</table>

<h3 class="mb-4">教員は以下の機能を使えます</h3>
<table class="table table-bordered mb-5">
  <tr><th>機能名</th><th>説明</th></tr>
  <tr><td>学生一覧</td><td>学生の登録ができます。</td></tr>
</table>

