<div class="d-flex align-items-center">
	<h1>教員の登録</h1>
	<div class="ml-auto">
		<%= link_to '教員一覧', teachers_path, class: 'btn btn-outline-dark' %>
	</div>
</div>

<%= render partial: 'form', locals: { teacher: @teacher } %>